body {
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}

.header {
    display: flex;
    background-image: url(imagenes/imagen-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 500px;
    align-items: center;
}

.nav {
    display: flex;
    background-color: #ffffff;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}

.nav__logo {
    height: 50px;
}

.nav__list {
    display: flex;
    list-style: none;
    margin-right: 20px;
    width: auto;
}

.nav__listLink {
    text-decoration: none;
    color: #1cb2cc;
    font-size: 18px;
    margin: 0 10px;
}

.header__textContainer {
    color: #ffffff;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 30px;
    margin-top: 60px;
}

.header__title {
    text-align: left;
}

.header__text {
    margin-top: 50px;
}

.header__button {
    padding: 10px 20px;
    background-color: #173ebd;
    color: #ffffff;
    border: none;
    font-size: 16px;
}

.about {
    background-color: rgb(202, 202, 202);
    display: flex;
    gap: 50px;
    justify-content: center;
}

.about__img {
    width: 530px;
    height: 430px;
    margin: 50px 0;
}

.about__textContainer {
    background-color: #1435ca;
    color: #ffffff;
    width: 400px;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 30px;
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
}

.portfolio__imgContainer {
    display: grid;
    grid-template-areas: 
        "img1 img2 img2"
        "img3 img2 img2"
        "img4 img4 img5"
        "img4 img4 img6"
        "img7 img8 img8";
    grid-gap: 10px;
    width: 60%;
    margin-bottom: -400px;
}

.portfolio__img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.portfolio__img--area1 { grid-area: img1; }
.portfolio__img--area2 { grid-area: img2; }
.portfolio__img--area3 { grid-area: img3; }
.portfolio__img--area4 { grid-area: img4; }
.portfolio__img--area5 { grid-area: img5; }
.portfolio__img--area6 { 
    grid-area: img6; 
    clip-path: inset(80px 0px);
    margin-top: -80px;
}
.portfolio__img--area7 { 
    grid-area: img7; 
    margin-top: -80px;
}
.portfolio__img--area8 { grid-area: img8; 
    clip-path: inset(315px 0px);
    margin-top: -395px;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    padding: 80px 0 80px 0;
    gap: 30px;
    background-color: rgb(165, 165, 165);
}

.contact__title {
    font-size: 40px;
    font-weight: lighter;
}

.contact__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 23%;
    height: auto;
    gap: 10px;
}

.contact__inputContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
}

.contact__input {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.contact__input--email {
    width: 95%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.contact__text {
    width: 85%;
    height: 100px;
    padding: 25px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.contact__button {
    width: 100%;
    padding: 10px;
    background-color: #3358d4;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 12px;
}

.footer {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 20px 0;
    font-size: 10px;
}
